<div class="page-header" > <h4 ng-class="{'formLabels':loginForm}">User Login	</h4></div>

<!-- routes.js specifies ctrl alias -->
<!-- then in userCtrl, you can see whe have a regUser property to access and then interact with -->
<!-- 'this' acts as the dependency injector the way as $scope has  -->

<form name="loginForm" ng-submit="main.doLogin(loginData);">	
	<label ng-class="{'formLabels':loginForm}">Username:</label>
	<input class="form-control" type="text" name="username" placeholder="please enter a name" ng-model="main.loginData.username">
	<br>
	<label ng-class="{'formLabels':loginForm}">Password:</label>
	<input class="form-control" type="password" name="password" placeholder="please enter a password" ng-model="main.loginData.password">
	<br>
	<button class="btn btn-warning" type="submit">Login</button>
	<button type="button" class="btn btn-primary"  ng-click="main.facebook();">Facebook</button>
	<button type="button" class="btn btn-success" ng-click="main.twitter();">Twitter</button>
	<button type="button" class="btn btn-info" ng-click="main.google();">Google</button>
</form>



<div class="text-center" ng-show="main.loading">
	<h1>
		<span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
		<p ng-class="{'formLabels':loginForm}"><b>Loading....</b></p>
	</h1>
</div>


<div class="row show-hide-message" ng-show="main.successMsg">
	<div class="alert alert-success" style="color:#EC1A1A">Success Message: {{	main.successMsg }}</div>
</div>
<br>

<!-- cant understand why result message isn't styling when using a class, have tried removing and overriding the parent bootstrap class, but still nothing, hence use of inline styling(although frowned upon!) -->
<div class="show-hide-message" ng-show="main.errorMsg">nnn
	<div class="alert alert-danger " >
		<!-- <p class="formErrorResponse">Error Message: {{ main.errorMsg }}</p> -->
		<p style="color:#0000cc">Error Message: {{ main.errorMsg }}</p>
	</div>
</div>
<br>
<div class=" show-hide-message" ng-show="facebook.errorMsg">
	<div class="alert alert-danger">
		<p style="color:#0000cc">Facebook Error Message:  {{ facebook.errorMsg }}</p>
	</div>
</div>
<div class=" show-hide-message" ng-show="twitter.errorMsg">
	<div class="alert alert-danger">
		<p style="color:#0000cc">Twitter Error Message:  {{ twitter.errorMsg }}</p>
	</div>
</div>
<br>
<div class=" show-hide-message" ng-show="google.errorMsg">
	<div class="alert alert-danger">
		<p style="color:#0000cc">Facebook Error Message:  {{ google.errorMsg }}</p>
	</div>
</div>